.mono {
  font-family: monospace;
}

.separator {
  margin-right: 5px;
}

dl.organic.input:has(dt.required) {
  margin-bottom: 0px;
}

dt.required {
  line-height: 1.1em;
}

code {
  padding: 0px 0.3em;
  border-radius: 0.3em;
}

code.xref {
  border-bottom: none;
}
